.brad-2{
  border-radius: 2px
}

.brad-3{
  border-radius: 3px
}

.brad-4{
  border-radius: 4px
}

.brad-5{
  border-radius: 5px
}

.brad-8{
  border-radius: 8px
}

.brad-10{
  border-radius: 10px
}

//--------------------------------------------

.der-1-aaa{
  border: 1px solid #aaa; 
}

.der-1-f8{
  border: 1px solid #f8f8f8; 
}

.der-1-e3{
  border: 1px solid #e3e3e3; 
}

.der-1-red{
  border: 1px solid red;
}

.der-1-cr{
  border: 1px solid crimson;
}

.der-1-vio{
  border: 1px solid violet;
}

.bl-e3{
  border-left: 1px solid #e3e3e3;
}

.br-e3{
  border-right: 1px solid #e3e3e3;
}

.bt-e3{
  border-top: 1px solid #e3e3e3;
}

.bb-e3{
  border-bottom: 1px solid #e3e3e3;
}

.l-m-white{
  border-left: 1px solid white;
}

.r-m-white{
  border-right: 1px solid white;
}

.t-m-white{
  border-top: 1px solid white;
}

.b-m-white{
  border-bottom: 1px solid white;
}