.layout.demo{
  .row.layer{
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .col.layer{
    padding-top: 8px;
    padding-bottom: 8px;


  }
}








section .support p{
  line-height: 30px;
  font-size: 1.2em;
}