.ct{
  background: transparent;
}
.c-f8{
  background: #f8f8f8;
}
.c-f5{
  background: #f5f5f5;
}

.c-e3{
  background: #e3e3e3;
}

.c-aaa{
  background: #aaa;
}

.c-red{
  background: red;
}

.c-gr{
  background: green;
}

.c-yo{
  background: yellow;
}

