.fs-_7{
  font-size: 0.7em;
}
.fs-_75{
  font-size: 0.75em;
}
.fs-_8{
  font-size: 0.8em;
}
.fs-_85{
  font-size: 0.85em;
}
.fs-_9{
  font-size: 0.9em;
}

.fs-1{
  font-size: 1em;
}
.fs-1_2{
  font-size: 1.2em;
}
.fs-1_5{
  font-size: 1.5em;
}
.fs-1_8{
  font-size: 1.8em;
}
