@import "screen";
@import "components/grid.of";
@import "components/grid.col";
@import "components/grid.show.hide";
@import "components/button";
@import "components/form";
@import "components/card";
@import "components/layout";
@import "components/book.card.row";
@import "components/links";
@import "components/fonts";
@import "components/listbox.1";
@import "components/listbox.2";
@import "components/list";
@import "components/util";
@import "components/jumbotron";
@import "components/footer";
@import "components/slider";
@import "components/adverticement";
@import "components/navbar";

@import "helpers/circles";
@import "helpers/dimentions";
@import "helpers/media.dimentions";
@import "helpers/position";
@import "helpers/border";
@import "helpers/font.size";
@import "helpers/animate";
@import "helpers/effects";
@import "helpers/up";
@import "helpers/display";
@import "helpers/line";
@import "helpers/pad.mar";
@import "./../fonts/fonts";

/*
| @override previous settings
*/
@import "components/colors";


@import "demo/demo";
@import "demo/layout.1";








body, html{
  font-family: roboto-r;
}

.log{
  padding: 8px;
  background: #e3e3e3;
  margin-bottom: 8px;

  .window-size{
    display: inline-block;
    padding: 4px;
  }
}

// h1{
//   font-family: roboto-r;
//   font-size: 2em;
//   padding-top: 16px;
//   padding-bottom: 8px;
// }

.border{
  border: 1px solid black;
}

.row-title{
  font-family: roboto-r;
  margin: 16px 8px 8px ;
}

.books{
  // position: relative;
}

.wrapper{
  background: white;
}




